.nav-bar{
    align-items: center;
    display: flex;
    justify-content: center;
}
.nav-bar ul {
    display: inline-flex;
    list-style: none;
    margin: 0;
    padding-left: 0;
}
.nav-bar a {
    text-decoration: none;
    margin-bottom: 1rem;
    margin-left: 3px;
    display: inline-block;
    background: cadetblue;
    color: #fff;
    padding: 1rem 1.5rem;
    border-radius: 3px;
}

 h1{
     text-align: center;
     margin: 0px auto;
     display: block;
}

.container {
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.form {
    width: 50%;
    margin: 0 auto;
}



